/* COLORS */

// As hex codes */
$color-primary-0: #1A1E37;
$color-primary-1: #454966;
$color-primary-2: #282B41;
$color-primary-3: #0F1229;
$color-primary-4: #050819;
$rgba-primary-0: rgba( 26, 30, 55,1);	
$rgba-primary-1: rgba( 69, 73,102,1);
$rgba-primary-2: rgba( 40, 43, 65,1);
$rgba-primary-3: rgba( 15, 18, 41,1);
$rgba-primary-4: rgba(  5,  8, 25,1);

// As hex codes */
$color-secondary-0: #65641E;
$color-secondary-1: #A7A559;
$color-secondary-2: #7D7C36;
$color-secondary-3: #47450B;
$color-secondary-4: #282700;
$rgba-secondary-0: rgba(101,100, 30,1);	
$rgba-secondary-1: rgba(167,165, 89,1);
$rgba-secondary-2: rgba(125,124, 54,1);
$rgba-secondary-3: rgba( 71, 69, 11,1);
$rgba-secondary-4: rgba( 40, 39,  0,1);